<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="shortcut icon" href="#">
	<title>Roast Profiler</title>
</head>

<body>
	<noscript>
		You need to enable JavaScript to run this app.
	</noscript>
	<div id='wrapper'>
		<div id="main">
			<h3 style="float: right;">Roast Profile</h3>
			<p1>Coffee </p1><input type="text" id="coffee"></input>
			<p1>Batch </p1><input type="text" id="batch" size="40"></input>
			<select id='get-batch'>
				<option>Pull a previous batch</option>
			</select>
			<br />
			<br />
			<div id="log-buttons">
				<input type="button" class="button" id="start-button" value="Start" /></input>
				<input type="button" class="button" id="stop-button" value="Stop" /></input>
				<input type="button" class="button" id="reset-button" value="Reset Chart" /></input><br />
				<input type="button" class="button" id="yellow-button" value="Yellow" /></input>
				<p1 id="yellow">[placeholder]</p1>
				<input type="button" class="button" id="firstcrack-button" value="First Crack" /></input>
				<p1 id="firstcrack">[placeholder]</p1>
				<input type="button" class="button" id="done-button" value="Done" /></input>
				<p1 id="done">[placeholder]</p1>
				<input type="button" class="button" id="print" value="Print" /></input>
				<input type="button" class="button" id="save" value="Save" /></input>
				<p1 id="confirm"></p1>
			</div>
			<div><br />
				<p1>Air: <span id='air-temp'></span><span> |</span></p1>
				<p1>Bean: <span id='bean-temp'></span><span> |</span></p1>
				<p1>RoR: <span id='ror'></span><span> |</span></p1>
				<p1>Time from First Crack: <span id='tffc'></span><span> |</span></p1>
				<p1>Dev Time Ratio: <span id='dtr'></span></p1>
			</div>
			<br />
			<br />
			<div id="plot" style="position: relative;"></div>
		</div>
		<div id="cupping-notes">
			<p1>Cupping Notes </p1><br />
			<p1 for="dry-aroma">Dry Aroma</p1><input type="text" id="dry-aroma"></input><br />
			<p1 for="wet-aroma">Wet Aroma</p1><input type="text" id="wet-aroma"></input><br />
			<p1 for="acidity">Acidity</p1><input type="text" id="acidity"></input><br />
			<p1 for="boy">Body</p1><input type="text" id="body"></input><br />
			<p1 for="flavors">Flavors</p1><textarea id="flavors" rows="1" cols="40"></textarea><br />
			<input type="button" class="button" id="save-cupping-notes" value="Save" /></input>
		</div>
	</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/canvasjs.min.js"></script>
<script src="/main.js"></script>

<link type="text/css" rel="stylesheet" href="/css/main.css">

</html>